<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/miLogin.css" rel="stylesheet" />
</head>

<body>
    <div class="container" id="containerLogin">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <div class="text-center">
                            <img src="imagenes/avatar.png" id="avatar" alt="Avatar"
                                class="rounded-circle mb-3" />
                        </div>
                        <form id="formulario1" th:action="@{/login}" method="post">
                            <div class="form-group">
                                <legend class="text-center">Por favor autenticarse:</legend>
                                <div th:if="${param.error}" class="alert alert-danger">
                                    Usuario y password inválido.
                                </div>
                                <div th:if="${param.logout}" class="alert alert-success">
                                    Cerraste sesión, quieres volver a iniciar...
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username"
                                    placeholder="Ingresa usuario">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Contraseña">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" id="botonAuth">Autenticar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
